.clothImage{
    width:100%;
   height:300px;
   object-fit:cover;
   object-position:50% 50%;
}

.allProducts{
    margin: 0px 100px 0px 100px;
}

.shopping{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(9, 129, 29, 0.234) 0%, rgba(18, 121, 9, 0.5) 35%, rgba(70, 163, 8, 0.248) 100%);
    width: 40%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-width:5px;  
    border: 10px inset rgba(7, 107, 7, 0.281);
    border-radius: 100px 0px 100px 0px;
}

.productMisc{
    display: inline-block;
    text-align: center;
}
