

.projectCol{
    padding: 0 !important;
    margin: 0 !important;
}

.projectCol button{
    width:100%;
    height: 200px;
    font-size: 2rem;
    border-radius: 0px;
    
}
.projectCol button:hover{
    box-shadow: inset 0 0 50px #000000;
    transition: linear 0.3s;
}
.projectCol h1{
    color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* .button1{
    background-image: url("images/cloths.jpeg");
    background-size: 100%;  
    opacity: 50%; 

.button2{
    background-image: url("images/tour.jpg") ;
    background-size: 100%;
    opacity: 50%; 
}
.button3{
    background-image: url("images/todo.jpg");  
    background-size: 100%;
    opacity: 50%; 
}
.button4{
    background-image: url("images/recipe.jpg");  
    opacity: 50%;
    background-size: 100%;
} */
